@font-face {
  font-family: "Trade Gothic LT Extended";
  src:  url("fonts/Trade Gothic LT Extended.woff2") format("woff2"),
        url("fonts/Trade Gothic LT Extended.woff") format("woff"),
        url("fonts/Trade Gothic LT Extended.otf") format("opentype"),
        url("fonts/Trade Gothic LT Extended.ttf") format("truetype");
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-display: fallback;      
}

@font-face {
  font-family: "Ogg";
  src:  url("fonts/OggLight.woff2") format("woff2"),
        url("fonts/OggLight.woff") format("woff"),
        url("fonts/OggLight.otf") format("opentype"),
        url("fonts/OggLight.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback; 
}

@font-face {
  font-family: "Ogg";
  src:  url("fonts/OggLightItalic.woff2") format("woff2"),
        url("fonts/OggLightItalic.woff") format("woff"),
        url("fonts/OggLightItalic.otf") format("opentype"),
        url("fonts/OggLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: fallback; 
}

@font-face {
  font-family: "Ogg";
  src:  url("fonts/OggMediumItalic.woff2") format("woff2"),
        url("fonts/OggMediumItalic.woff") format("woff"),
        url("fonts/OggMediumItalic.otf") format("opentype"),
        url("OggMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: fallback; 
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Trade Gothic LT Extended", system-ui;
  margin: 0;
  font-size: 16px;
  max-width: 320px;
  margin: auto;
}

.desctop {
    display: none;
}

/*
==========================================
Top Philisophy Section Part
==========================================
*/

  .text {
    margin-bottom: 26px;
  }
  
  .philosophy h2 {
    font-family: "Ogg", system-ui;
    font-size: 40px;
    line-height: 44px;
    font-weight: 300;
    max-width: 250px;
    margin: auto;
    text-align: center;
  }
  
  span.stylization {
    color: #71870E;
  }

  .text .container {
    padding: 26px 0 51px;
  }
  
  .philosophy p {
    margin: 0 10px;
    line-height: 28px;
    opacity: 0.85;
  }

  .upper-paragraph {
    padding-bottom: 20px;
  }
  
  .philosophy a {
    color: #CD9A3D;
    text-decoration: none;
    float: right;
    padding-right: 10px;
  }

  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    clear: both;
    *zoom: 1;
  }
  
  a img {
    padding-right: 31px;
  }

/*
==========================================
Bottom Philisophy Section Part
==========================================
*/

  figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 573px;
  }

  .top-image {
    position: absolute;
    top: 278px;
    left: 132px;
  }

  @media screen and (min-width: 768px) {

    body {
        max-width: none;
    }

/*
==========================================
Left Philisophy Section Part
==========================================
*/
  
    .desctop {
        display: block;
    }

    sup.desctop {
        display: inline;
        text-align: left;
        font-family: "Trade Gothic LT Extended", system-ui;
        font-size: 14px;
        opacity: 0.55;
        line-height: 21px;
    }

    figcaption {
        padding-top: 75px;
        padding-left: 25%;
        color: #71870E;
        opacity: 0.8;
    }

    .philosophy {
        display: flex;
        align-items: center;
        margin: 200px auto 220px;
        width: 100%;
    }   
    
    .philosophy h2 {
        max-width: 510px;
        font-size: 60px;
        line-height: 64px;
        text-align: left;
        padding-top: 150px;
    }

    h2 em {
      font-weight: 500;
    }

    .text {
        width: 50%;
    }

    .text .container {
        padding: 100px 0 70px 45%;
    }

    .philosophy p {
        margin: 0;
        min-width: 200px;
        max-width: 396px;
      }

    .philosophy a {
        float: none;
        padding: 0;
    }  

    a img {
        padding-left: 25%;
    }

/*
==========================================
Right Philisophy Section Part
==========================================
*/   

    figure {
        margin-left: 7%;
        overflow: visible;
    }

    .top-image {
        top: 208px;
        left: 343px;
    }
  }
